<div class="center-container">
  <div class="cover-photo-container">
    <div class="cover-photo">
    </div>
  </div>
  <aside class="profile-card">
    <header>
      <a target="_blank" href="#">
        <img src="/images/img_profile.jpg" class="hoverZoomLink">
      </a>
      <h1>Mithun Tantri</h1>
      <h2>Entrepreneur | Photographer</h2>
    </header>
    <div class="profile-bio">
      <p>
        It takes monumental improvement for us to change how we live our lives. Smile is the way we access that improvement.
      </p>
    </div>
    <ul class="profile-social-links">
      <li><a target="_blank" href="https://www.instagram.com/mithuntantri"><i class="fa fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/mithunt2"><i class="fa fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://github.com/mithuntantri"><i class="fa fa-github"></i></a></li>
      <li><a target="_blank" href="https://plus.google.com/u/0/105148808238037373121"><i class="fa fa-google"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/mithun_mtv"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </aside>
</div>
