<div class="center-container">
  <aside class="profile-card">
    <header>
      <a target="_blank" href="#">
        <img src="/images/img_profile.jpg" class="hoverZoomLink">
      </a>
      <h1>Mithun Tantri</h1>
      <h2>Entrepreneur | Freelancer | Photographer</h2>
      <ul style="list-style:none;text-align:left;padding:0;margin:0;height:20px;">
        <li style="float:left;width:59%;font-size:12px;"><i class="fa fa-envelope" style="padding-right:7px;color:red;"></i>me@mithuntantri.in<span style="padding:0 7px;">|</span></li>
        <li style="float:left;width:41%;font-size:12px;"><i class="fa fa-phone" style="padding-right:7px;color:red;"></i>886-774-2253</li>
      </ul>
    </header>
    <div class="profile-bio">
      <p>
        It takes monumental improvement for us to change how we live our lives. Smile is the way we access that improvement.<br/><br/>SUGAR Foundation. ( coming soon )
      </p>
    </div>
    <ul class="profile-social-links">
      <li><a target="_blank" href="https://www.instagram.com/mithuntantri"><i class="fa fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/mithunt2"><i class="fa fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://github.com/mithuntantri"><i class="fa fa-github"></i></a></li>
      <li><a target="_blank" href="https://plus.google.com/u/0/105148808238037373121"><i class="fa fa-google"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/mithun_mtv"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </aside>
</div>
